* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

body {
  background: linear-gradient( 108deg, rgba(1, 147, 86, 1) 0%, rgba(10, 201, 122, 1) 100%);
}